body{ 
    background:radial-gradient(circle, white, blue); 
}

#trashcan{
  transform: scale(10%);
  position: fixed;
  bottom: 48%;
  right: 78%;
}

#doc { /* doc image  */
  position: fixed;
  right: 3%;
  top: .2%;
  z-index: 4;
  transform: scale(85%);
  }

#home { /* home screen/ opening page  */
  position: fixed;
  top: 15%;
  left: 45%;
  z-index: 4;
  transform: scale(60%);
}

#play { /* play button  */
  position: fixed;
  top: 70%;
  left: 67.5%;
  z-index: 4;
  transform: scale(60%);
  
}

#play:hover { /* hover for play button  */
  opacity: 0.7;
}

.container { /* holds cups and text  */
  position: fixed;
  top: 60%;
  left: 60%;
  z-index: 4;
  transform: scale(80%);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.overlay:hover{ /* cup hover */
  opacity: 0.7;
  transform: scale(1.5);
}

#filledorder { /* order to be completed by users */
  position: fixed;
  left: 91%;
  bottom: 50%;
  z-index: 4;
  transform: scale(60%);
}

h1{
  font-family: "praxis-next", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  position: fixed;
  left: 10%;
  bottom: 120%;
  z-index: 4;
  transform: scale(60%);
  color: white;
  white-space: nowrap;
}

.blinking-text{
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#button{
  position: fixed;
  left: 75%;
  bottom: 43%;
  z-index: 4;
  transform: scale(60%);
}

#button:hover{
  opacity: 0.7;
  transform: scale(1);
}

#button2{
  position: fixed;
  left: 70.5%;
  bottom: 43%;
  z-index: 4;
  transform: scale(60%);
}

#button2:hover{
  opacity: 0.7;
  transform: scale(1);
}

#gif { /* home screen/ opening page  */
  position: fixed;
  top: 15%;
  left: 48%;
  z-index: 4;
  transform: scale(40%);
}

#strawberry{
  position: fixed;
  left: 62%;
  bottom: 40%;
  z-index: 4;
  transform: scale(60%);
}

#strawberry:hover{
  opacity: 0.7;
  transform: scale(1);
}

#shake{
  position: fixed;
  left: 65%;
  top: 43%;
  z-index: 4;
  transform: scale(80%);
}

.forwardarrow{
  position: fixed;
  left: 120%;
  top: 43%;
  z-index: 9999;
  transform: scale(80%);
}

.forwardarrow:hover{
  opacity: 0.7;
  transform: scale(1);
}

.backarrow{
  position: fixed;
  right: 110%;
  top: 43%;
  z-index: 9999;
  transform: scale(80%);
}

.backarrow:hover{
  opacity: 0.7;
  transform: scale(1);
}

h2{
  font-family: "praxis-next", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  position: fixed;
  left: 10%;
  bottom: 120%;
  z-index: 4;
  transform: scale(60%);
  color: white;
  white-space: nowrap;
}

.blink-click{
    animation: blink 1s step-start infinite;
}

.arrow{
  position: fixed;
  top: 40%;
  left: 60.5%;
  z-index: 4;
  transform: scale(80%);
  display: grid;
  gap: 20px; 
  max-width: 800px;
  padding: 2px;
}

.arrow2{
  position: fixed;
  bottom: 195%;
  right: 111%;
  transform: scale(100%);
  display: grid;
  max-width: 800px;
  padding: 2px;
}